button{
    /*opacity: 0.7;*/
    border-radius: 50;
    background-color: red;
    font-size: 25;
    color: #ffffff;
}

label{
    /*background-color: white;*/
    font-size: 60;
    color: white;
    /*border-radius: 20;*/
}